:root {
  /* fonts */
  --montserrat: 'Montserrat', sans-serif;
  --yeseva: 'Yeseva One', cursive;

  /* colors */
  --white: #fff;
  --black-clr-op25: rgba(0, 0, 0, 0.25);
  --pri-clr: #293042;
  --pri-clr-op75: rgb(41, 48, 66, 0.75);
  --sec-clr: #42ba98;
  --sec-clr-op2: rgb(66, 186, 152, 0.2);
  --sec-clr-op8: rgb(66, 186, 152, 0.8);
  --grey-clr: #d9d9d9;
  --grey-clr-2: #a1a1a1;
  --grey-clr-3: #898989;
  --grey-clr-4: #ccc;
  --grey-clr-5: #eee;
  --star-gold-clr: #e2be4b;
  --pink-clr: #ffad9b;
  --pink-clr-op20: rgb(255, 173, 155, 0.3);
  --link-clr: #0e55ff;
  --green-clr: #126b52;
  --yellow-clr: #ffd400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--montserrat);
  color: var(--pri-clr);
}

/* utilities */
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--pri-clr);
  text-decoration: none;
}

.container {
  width: 87.5%;
  max-width: 1530px;
  margin: 0 auto;
}

.cta {
  padding: 1rem 2rem;
  background: linear-gradient(var(--pri-clr), var(--pri-clr-op75));
  color: var(--white);
  border-radius: 3rem;
  text-transform: capitalize;
  display: inline-block;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
}

.cta-bg-sec {
  background: linear-gradient(var(--sec-clr), var(--sec-clr-op8));
  color: var(--white);
}

.cta-sec {
  padding-bottom: 0.5rem;
  display: inline-block;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--pri-clr);
  text-transform: capitalize;
  font-weight: 500;
}

.bg-sec {
  background-color: var(--sec-clr-op8);
}

.star {
  font-size: 0.9rem;
}

.filled-star {
  color: var(--star-gold-clr);
}

.blank-star {
  color: var(--grey-clr);
}

/* breadcrumb */
.breadcrumb {
  margin-bottom: 1rem;
}

.breadcrumbLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0;
  font-size: 0.75rem;
  font-weight: 500;
}

.breadcrumbLink {
  display: inline-block;
  color: var(--grey-clr-3);
}

.breadcrumbLink.active {
  color: var(--pri-clr);
}

.breadcrumbHomeLink {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.25rem;
}

/* margins */

/* scrollbar */

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-height: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--grey-clr);
}
